#contactos {
    background-color: brown;
    padding: 20px 1px;
    text-align: center;
    color: white;
}
#contactos  h1 {
    font-size: 2rem;
    margin: 20px 0;
}
#contactos .redes-sociais {
    margin: 4px auto;
}

form {
    width: 50%;
    margin: 20px auto;
}

input, textarea {
    width: 100%;
    margin-top: 10px;
    padding: 2px 4px;
    border: none;
    border-bottom: 1px solid brown;
}

input {
    height: 32px;
}

input:focus, textarea:focus {
    border: none;
    border-bottom: 2px solid brown;
    outline: none;
}

#botao {
    width: fit-content;
    margin: 10px auto;
}

button {
    background-color: brown;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 100px;
    font-weight: 700;
}