main {
    background-image: url('../img/background-2.jpg');
    background-size: cover;
}

main > div {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 0;
}

.conteudo {
    margin: 20px auto;
    width: 60%;
    padding: 1px;
}

#intro {
    color: white;
}

main > section > p {
    text-align: justify;
    margin-bottom: 14px;
}

main > section > h1 {
    text-align: center;
    margin: 20px 0;
}

ul {
    margin-left: 24px;
}

.formas-relevo {
    background-color: white;
    padding: 14px 28px;
    border-radius: 12px;
    color: cornflowerblue;
}

hr {
    height: 4px;
    width: 52px;
    margin: 4px 0 24px 0;
    border: none;
    background-color: cornflowerblue;
    border-radius: 50px;
}