main {
    width: 80%;
    margin: 40px auto;
}

main nav {
    background-color: white;
    height: 56px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

main nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.setas {
    filter: invert(21%) sepia(96%) saturate(2357%) hue-rotate(337deg) brightness(88%) contrast(101%);
}
main nav ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid #ff0a54;
    padding: 4px 8px;
}
main nav ul li:hover {
    cursor: pointer;
}
main section {
    background-color: white;
   width: 100%;
   margin: 20px 0;
   border-radius: 4px;
   padding: 20px;
}
hr {
    width: 50px;
    background-color: #ff0a54;
    border: 1px solid #ff0a54;
    height: 4px;
    margin: 8px 0 20px 0;
    border-radius: 60px;
}

main section p {
    text-align: justify;
    padding-top: 20px;
}