#sec-principal {
    height: calc(100vh - 72px);
    background-image: url('../photos/papel-parede.jpg');
    background-size: cover;
}

#sec-principal > div {
    background-color: rgba(54, 43, 43, 0.9);
    height: 100%;
    width: 100%;
    color: #fad643;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sec-principal h1 {
    font-size: 3rem;
    margin-bottom: 16px;
}

#sec-principal p {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 48px;
}

#sec-principal img {
filter: invert(71%) sepia(92%) saturate(333%) hue-rotate(0deg) brightness(104%) contrast(96%);
}

#sec-mitos {
    padding: 40px 0 0 20px;
}

#mitos {
    color: #372b2b;
    text-align: center;
    font-size: 2rem;
}
hr {
    width: 50px;
    margin: 12px auto;
    background-color: #372b2b;
    border: 1px solid #372b2b;
    height: 12px;
    border-radius: 60px;
}

#sec-mitos div {
    margin-top: 40px;
}

#sec-mitos p {
    border: 2px solid #372b2b;
    padding: 20px 10px;
    margin: 10px auto;
    width: 80%;
    font-size: 1.3rem;
}

#link-mitos {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: #372b2b;
    padding: 8px 32px 8px 16px;
    border-radius: 20px;
}

#leitura-sec {
    background-color: #fcefb4;
    padding: 40px;
}

#leituras {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leitura {
    width: 30%;
    height: 250px;
    border: 2px solid #372b2b;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
